@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background-color: #202733;
}

.box {
  position: relative;
  background-color: #313A48;
  width: 265px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 0 24px;
}

h3 {
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3.45714px;
  color: #53FFAA;
  padding: 40px 0 25px 0;
}

p {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.257143px;
  color: #CEE3E9;
  margin-bottom: 30px;
}

.pause {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.line {
  width: 95px;
  border: 1px solid #4F5D74;
}

.fa {
  color: #CEE3E9;
}

#dice {
  padding: 15px;
  border-radius: 50%;
  background-color: #53FFAA;
  border: none;
  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translateX(-50%);
}

#dice i {
  color: #202733;
}


@media screen and (min-width: 1025px) {
  .box {
    width: 398px;
  }

  .line {
    width: 155px;
  }

  #dice:hover {
    box-shadow: 0px 0px 40px #53FFAA;
  }
}

